@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /* background: #292929; */
    background-image: url(../imagens/wallpaperFundos/wallpaper.png);
    background-size: 100%;
}

.background{
  width: 70%;
  margin: auto;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.2);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* NavBar */
#navbar {
    width: 100%;
    background: rgba(45, 45, 45, 0.5);
    width: 100%;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #7248d2, #f64d54);
    border-image-slice: 1;
    position: fixed;   
    z-index: 100;
}

.navbarContainer {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoGP {
    width: 60px;
    height: 60px;
    margin: 10% 0;
}

#navbarItems {
    display: flex;
    list-style: none;
    padding: 0 0 0 6%;
}

#navbarItems li a { 
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding:  0 0 0 20px;
    transition: 400ms ease;
    cursor: pointer;
    
}

#navbarItems li a:hover {
    background-image: linear-gradient(to right,#7248d2,#f64d54);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 700;
}

#btnCVNav {
    background: linear-gradient(90deg, #7248D2 10%, #F64D54 100%);
    border: none;
    padding: 10px 35px;
    border-radius: 15px;
    font-size: 11px;
    font-style: normal;  
    font-weight: 600;
    color:white;
    cursor: pointer;
    text-align: center;
    transition: 500ms ease;
}
#btnCVNav:hover {
    font-size: 13px;
}


/* Pop Up */

.popupFundo{
  background-color: rgba(45, 45, 45, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.popup{
  max-width: 500px;
  height: 300px;
  background-image: url(../imagens/wallpaperFundos/wallpaper.png);
  background-size: 220%;
  border-radius: 30px;
  border: 1px solid transparent;
  margin: 10% auto;
  position: relative;
  display: flex ;
}

.popup::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #7248D2 10%, #F64D54 100%);
  z-index: -1;
  margin: -3px;
  border-radius: 30px;
}

.popupClose button{
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popupClose img{
  width: 10px
}

.popupContent h1{
  font-family: 'Lobster';
  color: #FFFFFF;
  padding: 10% 0 3% 0;
  align-items: center;
  text-align: center;
  display: block;
  width: 500px;
  font-size: 19px;
}

.popupContent p{
  color: #FFFFFF;
  padding: 3% 0;
  align-items: center;
  text-align: center;
  display: block;
  width: 500px;
  font-size: 15px;
}

.popupContent a:hover{
  font-size: 13px;
}

.popupContent ul{
  padding: 2% 5% 0 5%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.popupContent li{
  width: 100px;
  padding: 2%;
  width: 200px;
}

.popupContent a{
  text-decoration: none;
  background: linear-gradient(90deg, #7248D2 10%, #F64D54 100%);
  border: none;
  padding: 9px 25px;
  border-radius: 15px;
  font-size: 11px;
  font-style: normal;  
  font-weight: 600;
  color:white;
  cursor: pointer;
  text-align: center;
}


/* Entrada Perfil */

/* ------------------------------- */


#entradaPerfil {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#entradaPerfil img {
    width: 180px;
    height: 180px;
    border-radius: 300px;
    border: 3px solid transparent; 
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) padding-box,
    linear-gradient(to right, #7248D2, #F64D54) border-box;
} 

#entradaPerfil h1 {
    padding: 10px 0 0 0;
    font-family: 'Lobster';
    font-weight: 700;
    font-size: 25px;
    line-height: 45px;
    color: #FFFFFF;
}

#entradaPerfil p {
    width: 350px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
/* ------------------------------------ */



/* Contato */

#contato{
  margin: 10% 0 5% 0;
}

.contatoContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
}

.contatoTexto{
  color: #FFFFFF;
  line-height: 25px;
}

#contatoLogo{
  width: 100px;
  padding: 0 11% 0 0;
}

.contatoRedes{
  vertical-align: bottom;
}

.contatoRedes ul{
  display: flex;
}

.contatoRedes li a{
  padding: 0 20px 0 0;
}

.logoImgs{
  display: flex;
}

.logoImgs img{
  width: 20px;
  height: 20px;
  transition: 800ms;
}

.logoImgs img:hover {
  width: 25px;
  height: 25px;
}

.linhaBaixa{
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #7248d2, #f64d54);
  border-image-slice: 1;
}